<div class="usuarios-container">
    <div class="page-header">
        <div>
            <h2 class="page-title">Lista de Periodos</h2>
            <p class="page-subtitle">Consulta de periodos disponibles.</p>
        </div>

    </div>

    <div class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Fecha</th>
                    <th>Tipo de Cambio</th>
                </tr>
            </thead>
            <tbody>
                @for (item of periodos; track item.periodo) {
                <tr>
                    <td><strong>{{ item.periodo }}</strong></td>
                    <td>{{ item.fecha | date:'dd/MM/yyyy':'UTC' }}</td>
                    <td>{{ item.tc }}</td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="3" class="empty-row">No se encontraron periodos registrados.</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination-container"
        style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding: 10px 0;">
        <div class="pagination-info">
            <span>Mostrando página <strong>{{ currentPage }}</strong> de <strong>{{ totalPages }}</strong></span>
            <span class="text-muted" style="margin-left: 10px;">(Total: {{ totalRecords }} socios registrados)</span>
        </div>

        <div class="pagination-buttons" style="display: flex; gap: 5px;">
            <button [disabled]="currentPage === 1" (click)="changePage(1)" class="btn btn-nav" title="Primera página">
                ««
            </button>

            <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)" class="btn btn-nav">
                Anterior
            </button>

            <button [disabled]="currentPage === totalPages || totalPages === 0" (click)="changePage(currentPage + 1)"
                class="btn btn-nav">
                Siguiente
            </button>

            <button [disabled]="currentPage === totalPages || totalPages === 0" (click)="changePage(totalPages)"
                class="btn btn-nav" title="Última página">
                »»
            </button>
        </div>
    </div>
</div>